---
import Layout from "../layouts/Layout.astro";

import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";

import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import CvIcon from "../icons/Cv.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
---

<Layout
  title="Portfolio de Francisco Burgoa - Desarrollador y Programador Web"
  description="Contratame para tu próximo proyecto. Soy un desarrollador web full stack con más de 2 años de experiencia. Trabajo con tecnologías como JavaScript, React, Node.js, Express, PostgreSQL, entre otras. También tengo experiencia en diseño web y SEO. Me encanta aprender y siempre estoy buscando nuevos desafíos. Si estás interesado en trabajar conmigo, no dudes en contactarme."
>
  <main class="px-4">
    <SectionContainer class="py-44">
      <img
        class="rounded-full w-16 h-16 mb-4"
        src="foto-perfil.jpeg"
        alt="foto de perfil"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-5 lg:pb-8"
      >
        Hola, soy Francisco
        <a
          href="https://www.linkedin.com/in/franciscoburgoa/"
          target="_blank"
          rel="noopener"
          class="flex items-center hover:scale-105 transition"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-yellow-200/90"> Desarrollador Web Full Stack.</span>
        <span class="text-blue-200/90"> De San Juan, Argentina.</span>
        <span class="opacity-85"> +1 años de experiencia.</span>
      </h2>

      <nav class="flex gap-2 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/franciscoburgoa/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Francisco-B07">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:franciscojburgoa@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          Email
        </SocialPill>
        <SocialPill
          download="CV Burgoa Francisco"
          href="/CV Burgoa Francisco.pdf"
        >
          <CvIcon class="size-4 md:size-6" />
          CV
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold flex gap-x-3 items-center pt-20 mb-7">
        <Briefcase class="size-7" /> Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold flex gap-x-3 items-center pt-20 mb-7">
        <Code class="size-7" /> Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold flex gap-x-3 items-center pt-20">
        <ProfileCheck class="size-7" /> Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
