<section
  class="flex flex-col-reverse md:flex-row gap-y-4 md:gap-x-8 justify-center items-center py-4"
>
  <div
    class="[&>p]:mb-4 [&>p]:text-sm [&>p>strong]:text-yellow-200/90 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Me llamo Francisco Burgoa pero soy más conocido como <span
        class="font-semibold">el Pancho</span
      >. <strong>Comencé en la programación web en 2020</strong>, y desde
      entonces he estado aprendiendo y practicando para mejorar mis habilidades.
    </p>

    <p>
      Uno de mis logros más destacados es el desarrollo de una aplicación web
      para la empresa <em class="italic font-semibold"
        >'2A Servicios Integrales'</em
      >, <strong> donde gestioné todo el proceso</strong>, desde el diseño
      inicial hasta el despliegue en producción, utilizando tecnologías como
      Angular, Node.js, Express, Firebase, entre otras.
    </p>

    <p>
      Actualmente, estoy trabajando en un <strong
        >proyecto personal llamado 'Te Recomiendan'</strong
      >, una aplicación web que facilita a los usuarios descubrir y recomendar
      profesionales en distintos oficios. Este proyecto lo estoy desarrollando
      con Next.js 14, TailwindCSS y Supabase.
    </p>
  </div>
  <img
    src="/foto-perfil2.png"
    alt="foto de Francisco Burgoa"
    class="size-32 md:size-40 rounded-full hidden md:block"
  />
</section>
