---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
 /* {
   date: "Octubre 2023 - Diciembre 2023",
    title: "Desarrollador web FullStack - 2A Servicios Integrales",
    description: `Desarrollé nuevas funcionalidades para la aplicación web que creé hace un año para '2A Servicios Integrales'. La empresa incorporó al Hospital Rawson como nuevo cliente y requería que la aplicación permitiera cargar registros de mantenimiento de los nuevos equipos de climatización. 
    Incorporé los formularios para estos nuevos equipos y reestructuré la base de datos para que soportara la nueva información.`,
  },

  {
    date: "Octubre 2022 - Diciembre 2022",
    title: "Desarrollador web FullStack - 2A Servicios Integrales",
    description: `Desarrollé una aplicación web para '2A Servicios Integrales' de manera freelance, la cual se utiliza para cargar los registros de los mantenimientos realizados en cada uno de sus clientes.

En este proyecto, me encargué del diseño, del FrontEnd (utilizando Angular), del BackEnd (con Node.js y TypeScript), y de modelar la Base de Datos construida en Firestore.
    `,
  },
  */
  {
    date: "Junio 2022 - Octubre 2022",
    title: "Frontend Web Developer - Folcamp (BisBlick)",
    description: `Realicé el bootcamp de Folcademy, donde durante 4 meses desarrollamos en equipo una web para la ONG BisBlick, la cual necesitaba una plataforma para poder dar mayor visibilidad a sus proyectos y así poder recaudar fondos y convocar voluntarios para ayudar a los jóvenes.

Durante el desarrollo, utilizamos la metodología Scrum y herramientas de colaboración como Jira y Bitbucket.
      `,
    link: "https://www.youtube.com/watch?v=_Sl-R660JgM&t=2013s",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
