<header
  class="flex justify-center items-center py-5 px-2 w-full xl:w-[1120px] mx-auto fixed z-50"
>
  <nav
    class="flex flex-row gap-x-4 md:gap-x-10 opacity-80 bg-black px-6 py-2 rounded-full [&>a]:font-semibold"
  >
    <a
      href="/#top"
      class="hover:text-yellow-200 transition text-sm md:text-base">Inicio</a
    >
    <a
      href="/#experiencia"
      class="hover:text-yellow-200 transition text-sm md:text-base"
      >Experiencia</a
    >
    <a
      href="/#proyectos"
      class="hover:text-yellow-200 transition text-sm md:text-base">Proyectos</a
    >
    <a
      href="/#sobre-mi"
      class="hover:text-yellow-200 transition text-sm md:text-base">Sobre mi</a
    >
    <!-- <a href="/#contacto" class="hover:text-yellow-200 transition">Contacto</a> -->
  </nav>
</header>
