---
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="bg-white/5 border border-gray-300 rounded-full
  flex justify-center items-center gap-x-2
  px-3 py-2 md:px-4
  text-xs md:text-base
  transition hover:bg-white/10 hover:scale-110"
>
  <slot />
</a>
