---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 w-full mx-auto container lg:w-[630px] pb-10 md:pb-24`}
>
  <slot />
</section>
